*~
*.swp
config/.vim/.netrwhist

# nvim's Lazy plugin creates and frequently modifies this file:
config/.vim/lazy-lock.json

# This is a symlink created by snap_dev_tools repo, so we don't track it
config/.zsh/zsh.d/bar-develop.zsh

/release/
