[submodule "config/.vim/bundle/vundle"]
	path = config/.vim/bundle/vundle
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "config/.tmux/plugins/tpm"]
	path = config/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "config/.zsh/plugins/zsh-autosuggestions"]
	path = config/.zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "config/.zsh/plugins/z"]
	path = config/.zsh/plugins/z
	url = https://github.com/rupa/z.git
[submodule "config/.zsh/plugins/fast-syntax-highlighting"]
	path = config/.zsh/plugins/fast-syntax-highlighting
	url = https://github.com/z-shell/fast-syntax-highlighting.git
