[submodule "config/.vim/bundle/vundle"]
	path = config/.vim/bundle/vundle
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "config/.tmux/plugins/tpm"]
	path = config/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
